* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(199, 21, 89);
  font-family: Arial, Helvetica, sans-serif;
}

.rounded {
  border-radius: 10px;
}

.d-flex {
  display: flex;
}

.wrapper {
  flex-flow: column;
  align-items: center;
}

h2 {
  color: white;
  margin-top: 30px;
}

label {
  color: rgb(199, 21, 89);
  font-weight: 600;
}

input,
select {
  border-color: rgb(199, 21, 89);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 10px 25px;
}

button {
  color: rgb(199, 21, 89);
  font-size: 1rem;
  font-weight: 600;
  padding: 5px;
  margin-top: 30px;
  margin-left: 25px;
}

.wrapper > h2:first-child {
  margin-bottom: 30px;
}

.wrapper > h2:not(first-child) {
  margin-bottom: 5px;
}

.biglietto > h3 {
  margin-top: 20px;
  margin-left: 20px;
}

.calcola {
  width: 80%;
  background-color: white;
  flex-flow: column;
  justify-content: space-around;
  box-shadow: 2px 2px 2px grey;
  padding: 20px;
}

.row-1,
.row-2 {
  justify-content: center;
}

.name,
.distance,
.age {
  flex-flow: column;
  align-items: center;
}

#biglietto,
#biglietto-header {
  display: none;
}

.biglietto {
  width: 80%;
  background-color: white;
}

.dettaglio {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
}

#nameDetail {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.dettaglio-left {
  width: 30%;
  background-color: grey;
}

.dettaglio-left h3 {
  width: 150px;
  line-height: 1.6rem;
  margin: 10px;
}

.dettaglio-right {
  width: 70%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table {
  margin-top: 10px;
}

tr {
  text-align: left;
}

th {
  padding: 25px;
  font-size: 1.2rem;
}

td {
  padding: 25px;
  font-size: 1.2rem;
}
